/* =============
Global
============== */

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

body > * {
  padding-inline: 14%;
}

button {
  padding: 8px 30px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #2f6ccf;
}

/* =============
Hero
============== */

.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-block: 18px;
  color: #f9faf8;
}

.logo {
  font-size: 24px; 
  font-weight: bold;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

nav a,
.welcome-cta p {
  color: #e5e7eb;
  font-size: 18px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #c5c5c9;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: wrap-reverse;
  gap: 60px;
  padding-block: 100px;
}

.welcome-cta {
  flex: 1;
}

.welcome-cta p {
  margin: 5px 0 15px 0;
}

.welcome-cta h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.img-container {
  flex-shrink: 0;
  overflow: hidden;
  height: 320px;
}

img {
  width: 525px;
  position: relative;
  bottom: 248px;
}

/* =============
Detail Tiles
============== */

.details {
  text-align: center;
  padding-bottom: 80px;
}

h2 {
  margin-block: 50px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.info-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 56px;
}

.item {
  width: 150px;
}

.box {
  height: 150px;
  width: 150px;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

.description {
  margin-top: 10px;
  color: rgb(110, 116, 124);
}

/* ===========
Quotation
=========== */

.quote {
  padding-block: 80px;
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote > * {
  margin-inline: 80px;
}

blockquote {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.author {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
}

/* =============
Call to Action
============== */

.cta {
  padding-block: 80px;
}

.cta-banner {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-banner label {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.cta-banner button {
  border: 2px solid #f9faf8;
}

/* =============
Footer
============== */

.footer {
  background-color: #1f2937;
  color: #f9faf8; 
  padding-block: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  padding-inline: 6px;
}